<div class="book-card">
    <div class="book-details">
        <h2 class="book-title">Cien años de soledad</h2>
        <h4 class="book-author">Gabriel García Márquez</h4>
        <p class="book-description">
            Una novela emblemática del realismo mágico que narra la historia de la familia Buendía en el pueblo
            ficticio de Macondo.
        </p>
    </div>
    <div class="book-image">
        <img class="book-cover" src="../../../../images/hobbit.png" alt="Portada del libro">
    </div>
</div>