<div class="book-card">
    <div class="container-image">
        <img [src]="book.imagen" [alt]="book.titulo" class="book-image">
    </div>
    <div class="card-body">
        <h5 class="book-title mt-4">{{ book.titulo }}</h5>
        <h6 class="book-author mt-3">{{ book.autor }}</h6>

        <div class="d-flex justify-content-around gap-2 align-items-center mt-4">
            <button class="btn-more" (click)="onClickBookSelected()">
                <i class="bi bi-plus" style="font-size: 25px;"></i>
                VER MÁS
            </button>

            @if (userData) {
            <div class="buttons-container">
                <button [ngClass]="book.favourite ? 'btn-favorite' : 'btn-no-favorite'"
                    (click)="onClickFavouriteBook(book)">
                    <i [ngClass]="book.favourite ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
                </button>
            </div>
            }
        </div>
    </div>
</div>