<div class="login-container">
    <div class="login-card">
        <img [src]="photo" class="photoLogo" width="190" height="160" alt="Foto de perfil">
        <h1 class="login-title mb-5 mt-2 fw-bold">INICIAR SESIÓN</h1>
        <form (ngSubmit)="onSubmit()" class="login-form" [formGroup]="signInForm">
            <div class="form-group">
                <label for="username" class="mb-2">Nombre de usuario</label>
                <input type="text" formControlName="email" placeholder="Introduce nombre de usuario"
                    class="form-control">
            </div>

            <div class="form-group position-relative">
                <label for="password">Contraseña</label>
                <input [type]="showPassword ? 'password' : 'text'" id="password" formControlName="password"
                    placeholder="Introduce la contraseña" class="form-control">

                <span class="position-absolute"
                    (click)="togglePassword()"
                    style="top: 70%; right: 15px; transform: translateY(-50%); cursor: pointer;">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox"> Recordar Contraseña
                </label>
            </div>

            <button type="submit" class="login-button rounded-pill" [disabled]="!signInForm.valid">
                INICIAR SESIÓN
            </button>
        </form>
    </div>
</div>