footer {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

p,
a {
    font-size: 13px;
}

.white-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    gap: 11px;
}

.white-link:hover {
    color: #ffc107;
}

.white-link:hover::after {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
}

/* Estilos para títulos */
h5 {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Estilos para enlaces */
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    position: relative;
}

.footer-link:hover {
    color: #ffc107;
}

.footer-link:hover::after {
    width: 100%;
}

/* Estilos para iconos sociales */
.social-links {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #ffffff;
    font-size: 20px;
    transition: all 0.3s ease;
    display: inline-block;
    margin: 0 5px;
}

.social-icon:hover {
    color: #ffc107;
    transform: translateY(-3px);
}

/* Estilos para el copyright */
.copyright-text {
    color: #a0a0a0;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.divider {
    width: 100%;
    margin: 0 auto 20px;
    opacity: 0.2;
    background-color: #ffffff;
}

/* Estilos para los iconos de contacto */
.bi {
    color: #ffc107;
}

/* Responsive */
@media (max-width: 768px) {
    h5::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .col-md-6,
    .col-lg-4 {
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .footer-links {
        align-items: center;
    }

    .map-container {
        height: 200px;
        /* Reducido de 250px */
        margin-bottom: 20px;
    }

    .copyright-text {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .map-container {
        height: 200px;
        /* Reducido de 100% */
        min-height: 200px;
        /* Reducido de 300px */
    }
}