<div class="library-page d-flex">
    <main class="main-content">
        <app-carousel></app-carousel>


        @if (testIconArrow) {
        <div style="text-align: center;">
            <a href="#aboutMe" class="scroll-down-button" (click)="onClickArrow($event)">
                <i class="bi bi-arrow-down" style="font-size: 2rem;"></i>
            </a>
        </div>
        }

        <section id="aboutMe" class="about-me-section py-5">
            <div class="container-fluid">
                <h1 class="about-title mt-3 mt-lg-5 mt-md-5 mt-sm-5">EN QUE CONSISTE</h1>

                <div class="row align-items-center mb-4">
                    <div class="col-12 col-lg-6 col-md-6 d-flex justify-content-center">
                        <div class="about-image-wrapper">
                            <img src="images/concepto-libro.jpg" alt="Imagen perfil"
                                class="about-image img-fluid rounded" />
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mt-5 w-40">
                        <p class="about-text">
                            En nuestra librería nos dedicamos a compartir la magia de los libros y a brindarte una
                            experiencia única desde el primer momento. Queremos que te sientas a gusto, disfrutes
                            recorriendo nuestras estanterías y vivas la auténtica experiencia de lectura.

                            <br /><br />

                            Encuentra y reserva tus libros de forma rápida y sencilla en nuestra tienda, y déjate
                            acompañar por nuestro equipo de libreros, siempre dispuestos a recomendarte nuevas historias
                            y autores. Trabajamos con editoriales y títulos de calidad para que tengas lo mejor en tus
                            manos.

                            <br /><br />

                            Desde 2005 ayudamos a lectores como tú a descubrir, aprender y soñar a través de
                            la lectura. ¿Te animas a visitarnos?
                        </p>

                        <div class="mt-4">
                            <button class="visit-button" (click)="onClick()">DESCUBRE MÁS</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>